<!DOCTYPE html>
<html lang="en">
<head>
    <title>Unauthorized Access:: NightOwl</title>


    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="../static/css/index.css" rel="stylesheet">


</head>

<body>

<div class="container">
    <div class="header">
        <nav>
            <ul class="nav nav-pills pull-right">
                <li role="presentation"><a href="/login">Sign In</a></li>
            </ul>
        </nav>
        <h3 class="text-muted">NightOwl Admin Console</h3>
    </div>

    <div class="jumbotron">
        <h2>{{ error }}</h2>

    </div>


    <footer class="footer">
        <p>&copy; iostream.h 2016</p>
    </footer>

</div>
</body>
</html>

